<h1>Customers Missing Email</h1>

<%= render partial: "customer", collection: @customers %>

<br>
<%= link_to 'All Customers', root_path %> |
<%= link_to 'Alphabetized Customers', customers_alphabetized_path %>
