.card {
  margin: 1rem;
  border: 1px dotted grey;
  border-radius: 3px;
  display: inline-block;
}

.card-content {
  padding: 1rem;
}

h1 {
  color: rgb(53, 53, 53)
}



img {
  height: 300px;
  width: 275px;
}